body {
  background-color: #FFF1E0;
  font-family: serif;
}

hr {
  border: none;
  border-bottom: #7d7d7d 2.5px solid;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  gap: 40px;
  font-size: 20px;
}

table {
  border: 2.5px solid black;
  background-color: white;
  font-size: 20px;
}

h1 {
  display: inline-block;
  margin-bottom: 50px;
  border-bottom: #7d7d7d 2.5px solid;
}

select {
  height: 65px;
  width: 250px;
  border: 2.5px solid black;
  background-color: white;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;;
}

.home {
  font-size: 20px;
  display: flexbox;
  justify-content: left;
}

.header {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 50px;
}

.accountMenu {
  display: flex;
  justify-content: right;
  font-weight: bold;
}

.accountMenu input {
  height: 25px;
  border: 2.5px solid black;
  background-color: white;
  font-weight: bold;
}

.accountMenu input:hover {
  background-color: #b9b9b9;
}

.search-container {
  display: flex;
  justify-content: left;
  gap: 5px;
}

.searchbar {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  padding: 10px;
  border: 2.5px solid black;
  font-size: 20px;
  letter-spacing: 1px;
}

.searchbarButton {
  width: 65px;
  height: 65px;
  vertical-align: top;
  border: 2.5px solid black;
  background-color: white;
}

.searchbarButton:hover {
  background-color: #b9b9b9;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

.login-form input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 2.5px solid black;
  font-size: 20px;
  box-sizing: border-box;
}

.login-form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.login-form-buttons input {
  line-height: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border: 2.5px solid black;
  background-color: white;
}

.login-form-buttons input:hover {
  background-color: #b9b9b9;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.register-form-column {
  flex: 1;            
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form-column label {
  font-size: 18px;
  font-weight: bold;
}

.register-form-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 2.5px solid black;
  font-size: 20px;
  box-sizing: border-box;
}

.register-form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.register-form-buttons input {
  line-height: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border: 2.5px solid black;
  background-color: white;
}

.register-form-buttons input:hover {
  background-color: #b9b9b9;
}

.status-available {
  color: #0f8b00;
  font-weight: bold;
}

.status-reserved {
  color: #c70000;
  font-weight: bold;
}

